#SPDX-License-Identifier: MIT-0
---
- name: Download Microsoft package signing repository
  ansible.builtin.get_url:
    url: https://packages.microsoft.com/config/debian/13/packages-microsoft-prod.deb
    dest: /tmp/packages-microsoft-prod.deb
    mode: '0644'

- name: Install Microsoft package repository
  ansible.builtin.apt:
    deb: /tmp/packages-microsoft-prod.deb
    state: present

- name: Remove Microsoft repo installer package
  ansible.builtin.file:
    path: /tmp/packages-microsoft-prod.deb
    state: absent

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Install .NET SDK {{ version }}
  ansible.builtin.apt:
    name: dotnet-sdk-{{version}}
    state: present